html, body {
    height: 100%;
    width: 100%;
    background: #122139;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .container{
    width: 100px;
    height: 300px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    -moz-transform: scale(0.6);
    -ms-transform: scale(0.6);
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
  }
  .container div{
    position:absolute;
   
  }
  .container .glass{
    height: 420px;
    width: 420px;
   
    border: 3px solid rgba(255,255,255,0.5);
    border-radius: 300px;
    left: -160px;
    top: -120px;
    border-bottom: 15px solid rgba(255,255,255,0.5);
  }
  
  .container .glass:before {
    width: 8px;
    background: rgba(255, 255, 255, 0.1);
    content: '';
    position: absolute;
    height: 100px;
    top: 180px;
    border-radius: 100px;
    left: 20px;
    
    
}
.container .glow{
    position: absolute;
   
    width: 100px;
   height: 100px;
   transform: rotate(45deg);
   transform-origin: center;
   left: -4px;
   opacity: 0.2;
   top: -2px;
   
   box-shadow: 5px  5px  5px 5px #f594b8;
   transition: all 0.5s ease;
   animation: glowing 2.5s ease-in-out infinite;
   background-color: #f594b8;
   
   

}
.container .glow::before{ 
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    top: -60px;
    left: -1px;
    border-radius: 50%;
    background-color: #f594b8;
    box-shadow: 5px  5px  5px 5px #f594b8;
    transition: all 0.5s ease;
    animation: glowing 2.5s ease-in-out infinite;
    background-color: #f594b8;
    
    
 }
 .container .glow::after{
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    top: 0px;
    left: -64px;
    border-radius: 50%;
    background-color: #f594b8;
   
    box-shadow: 5px  5px  5px 5px #f594b8;
    transition: all 0.5s ease;
    animation: glowing 2.5s ease-in-out infinite;  

 }
 .container .rose-petals > div {
    background: #d52d58;
    width: 45px;
    height: 80px;
    position: absolute;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
  }
  .container .rose-petals > div:nth-child(1) {
    border-radius: 15px;
    left: 20px;
    top: -6px;
    background: #d52d58;
  }
  .container .rose-petals > div:nth-child(2), .container .rose-petals > div:nth-child(4), .container .rose-petals > div:nth-child(6) {
    border-radius: 0px 30px 0px 30px;
    background: #b81b43;
    left: 0;
    transform-origin: bottom right;
  }
  .container .rose-petals > div:nth-child(3), .container .rose-petals > div:nth-child(5), .container .rose-petals > div:nth-child(7) {
    border-radius: 30px 0px 30px 0px;
    left: 40px;
    transform-origin: bottom left;
  }
  .container .rose-petals > div:nth-child(2) {
    -moz-animation: openRose2 3s ease-in-out;
    -webkit-animation: openRose2 3s ease-in-out;
    animation: openRose2 3s ease-in-out;
    -moz-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    z-index: 5;
    background: #9e183a;
    top: 10px;
    height: 70px;
    -moz-animation-delay: 2s;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
  }
  .container .rose-petals > div:nth-child(3) {
    -moz-animation: openRose3 3s ease-in-out;
    -webkit-animation: openRose3 3s ease-in-out;
    animation: openRose3 3s ease-in-out;
    -moz-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    z-index: 4;
    background: #9e183a;
    top: 10px;
    height: 70px;
    -moz-animation-delay: 2s;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
  }
  .container .rose-petals > div:nth-child(4) {
    -moz-animation: openRose4 3s ease-in-out;
    -webkit-animation: openRose4 3s ease-in-out;
    animation: openRose4 3s ease-in-out;
    -moz-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    z-index: 3;
    background: #b81b43;
    top: 5px;
    height: 75px;
    -moz-animation-delay: 2s;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
  }
  .container .rose-petals > div:nth-child(5) {
    -moz-animation: openRose5 3s ease-in-out;
    -webkit-animation: openRose5 3s ease-in-out;
    animation: openRose5 3s ease-in-out;
    -moz-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    z-index: 2;
    background: #b81b43;
    top: 5px;
    height: 75px;
    -moz-animation-delay: 2s;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
  }
  .container .rose-petals > div:nth-child(6) {
    -moz-animation: openRose6 3s ease-in-out;
    -webkit-animation: openRose6 3s ease-in-out;
    animation: openRose6 3s ease-in-out;
    -moz-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    z-index: 1;
    background: #c9204b;
    top: "";
    height: "";
    -moz-animation-delay: 2s;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
  }
  .container .rose-petals > div:nth-child(7) {
    -moz-animation: openRose7 3s ease-in-out;
    -webkit-animation: openRose7 3s ease-in-out;
    animation: openRose7 3s ease-in-out;
    -moz-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    z-index: 0;
    background: #c9204b;
    top: "";
    height: "";
    -moz-animation-delay: 2s;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
  }
  
  .container .rose-leaves > div:nth-last-child(1) {
    width: 55px;
    height: 30px;
    background: #338f37;
    position: absolute;
    top: 60px;
    left: 15px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
  }
  .container .rose-leaves > div:nth-child(1) {
    width: 6px;
    height: 30px;
    border: none;
    top: 80px;
    background:#338f37;
    left: 40px;
  }
  .container .content{
    top:130px;
    color:#fff;
    font-size: 35px;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
 
  .container .sparkles {
    bottom: -40px;
  }
  .container .sparkles > div {
    width: 4px;
    height: 4px;
    border-radius: 100px;
    background: #ff96c0;
    box-shadow: 0px 0px 12px 2px #ff4e85;
    bottom: 0;
    opacity: 0;
    -moz-animation: sparkle 4s ease-in-out infinite;
    -webkit-animation: sparkle 4s ease-in-out infinite;
    animation: sparkle 4s ease-in-out infinite;
  }
  .container .sparkles > div:nth-child(1) {
    left: 60px;
    -moz-animation-delay: 3s;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
  }
  .container .sparkles > div:nth-child(2) {
    left: 158px;
    -moz-animation-delay: 2s;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
  }
  .container .sparkles > div:nth-child(3) {
    left: -22px;
    -moz-animation-delay: 1s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
  }
  .container .sparkles > div:nth-child(4) {
    left: 10px;
    -moz-animation-delay: 1s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
  }
  .container .sparkles > div:nth-child(5) {
    left: 177px;
    -moz-animation-delay: 3s;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
  }
  .container .sparkles > div:nth-child(6) {
    left: -82px;
    -moz-animation-delay: 2s;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
  }
  .container .sparkles > div:nth-child(7) {
    left: 45px;
    -moz-animation-delay: 3s;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
  }
  .container .sparkles > div:nth-child(8) {
    left: 74px;
    -moz-animation-delay: 3s;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
  }
  .container .sparkles > div:nth-child(9) {
    left: -79px;
    -moz-animation-delay: 2s;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
  }
  

  @-moz-keyframes sparkle {
    50% {
      opacity: 1;
    }
    100% {
      bottom: 250px;
    }
  }
  @-ms-keyframes sparkle {
    50% {
      opacity: 1;
    }
    100% {
      bottom: 250px;
    }
  }
  @keyframes sparkle {
    50% {
      opacity: 1;
    }
    100% {
      bottom: 250px;
    }
  }

  @-moz-keyframes openRose2 {
    50% {
      -moz-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      -webkit-transform: rotate(-90deg);
      transform: rotate(-90deg);
      top: 80px;
      left: 100px;
    }
    100% {
      -moz-transform: rotate(-60deg);
      -ms-transform: rotate(-60deg);
      -webkit-transform: rotate(-60deg);
      transform: rotate(-60deg);
      top: 180px;
      left: -40px;
    }
  }
  @-ms-keyframes openRose2 {
    50% {
      -moz-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      -webkit-transform: rotate(-90deg);
      transform: rotate(-90deg);
      top: 80px;
      left: 100px;
    }
    100% {
      -moz-transform: rotate(-60deg);
      -ms-transform: rotate(-60deg);
      -webkit-transform: rotate(-60deg);
      transform: rotate(-60deg);
      top: 180px;
      left: -40px;
    }
  }
  @keyframes openRose2 {
    50% {
      -moz-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      -webkit-transform: rotate(-90deg);
      transform: rotate(-90deg);
      top: 180px;
      left: -40px;
    }
    100% {
      -moz-transform: rotate(-60deg);
      -ms-transform: rotate(-60deg);
      -webkit-transform: rotate(-60deg);
      transform: rotate(-60deg);
      top: 180px;
      left: -40px;
    }
  }
 
  @-moz-keyframes openRose3 {
    100% {
      -moz-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
      -webkit-transform: rotate(60deg);
      transform: rotate(60deg);
    }
  }
  @-ms-keyframes openRose3 {
    100% {
      -moz-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
      -webkit-transform: rotate(60deg);
      transform: rotate(60deg);
    }
  }
  @keyframes openRose3 {
    100% {
      -moz-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
      -webkit-transform: rotate(60deg);
      transform: rotate(60deg);
    }
  }
 
  @-moz-keyframes openRose4 {
    100% {
      -moz-transform: rotate(-30deg);
      -ms-transform: rotate(-30deg);
      -webkit-transform: rotate(-30deg);
      transform: rotate(-30deg);
    }
  }
  @-ms-keyframes openRose4 {
    100% {
      -moz-transform: rotate(-30deg);
      -ms-transform: rotate(-30deg);
      -webkit-transform: rotate(-30deg);
      transform: rotate(-30deg);
    }
  }
  @keyframes openRose4 {
    100% {
      -moz-transform: rotate(-30deg);
      -ms-transform: rotate(-30deg);
      -webkit-transform: rotate(-30deg);
      transform: rotate(-30deg);
    }
  }
 
  @-moz-keyframes openRose5 {
    100% {
      -moz-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
      -webkit-transform: rotate(30deg);
      transform: rotate(30deg);
    }
  }
  @-ms-keyframes openRose5 {
    100% {
      -moz-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
      -webkit-transform: rotate(30deg);
      transform: rotate(30deg);
    }
  }
  @keyframes openRose5 {
    100% {
      -moz-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
      -webkit-transform: rotate(30deg);
      transform: rotate(30deg);
    }
  }
 @-moz-keyframes glowing {
    50% {
      box-shadow: 60px 60px 10px 20px #f594b8;
    }
  }
  @-ms-keyframes glowing {
    50% {
      box-shadow: 60px 60px 10px 20px #f594b8;
    }
  }
  @keyframes glowing {
    50% {
      box-shadow:  10px 10px 10px 20px #f594b8;
    }
  }
  @keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }

  




 
